body {
    background-color: steelblue;
    font-family:'Courier New', Courier, monospace;
}

.toph1 {
    margin-top: 10px;
    color:lime;
    text-align: center;
    font-size: larger;
    background-color: black;
}

h1 {
    margin-top: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-weight: bold;
}

textarea {
    background-color: antiquewhite;
    height: 250px;
    width: 550px;
}

.centr {
    border-left: 3px solid wheat;
    justify-content: center;
    margin-left: 3em;
    padding-left: 3em;
}

.lspace {
    margin-top: 2em;
}

/* 
    urrent_status
*/
#current_status {
	/* text-align: center; */
	text-transform: capitalize;
	padding: 5px;
	color: #fff;
    width: 150px;
}